Repository FerriteLabs/ferrite: changes, and which Codecov flags are due for each by the changed paths.
All: core, extensions, integration

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 2%
      # Higher target for the core engine crate
      core:
        target: 60%
        threshold: 2%
        paths:
          - crates/ferrite-core/
    patch:
      default:
        target: 80%

flags:
  core:
    paths:
      - crates/ferrite-core/
    carryforward: true
  extensions:
    paths:
      - crates/ferrite-search/
      - crates/ferrite-ai/
      - crates/ferrite-graph/
      - crates/ferrite-timeseries/
      - crates/ferrite-document/
      - crates/ferrite-streaming/
    carryforward: true
  integration:
    paths:
      - src/
      - tests/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

feat: implement document SORT with multi-field type-aware comparison
  src/commands/handlers/document.rs
Due: integration

fix: track pub/sub state in handler and wire OBSERVE.LATENCY
  src/server/handler.rs
Due: integration

feat: add SDK test and example generators for Go, Java, C#, PHP, Ruby
  src/sdk/generator.rs
Due: integration

feat: expand Cypher parser with DELETE, SET, REMOVE, OPTIONAL MATCH
  crates/ferrite-graph/src/cypher/ast.rs
  crates/ferrite-graph/src/cypher/executor.rs
  crates/ferrite-graph/src/cypher/mod.rs
  crates/ferrite-graph/src/cypher/parser.rs
Due: extensions

feat: push document sort into storage engine and fix examples
  crates/ferrite-document/src/document/collection.rs
  crates/ferrite-document/src/document/query.rs
  examples/edge_sync.rs
  examples/server_mode.rs
  examples/wasm_playground.rs
Due: extensions

feat: add real EDGE.SYNC and OBSERVE.LATENCY handlers with CI security
  .github/workflows/codeql.yml
  .github/workflows/sbom.yml
  src/commands/handlers/edge.rs
  src/commands/handlers/observe.rs
Due: integration

refactor: extract key encoding into shared utility
  .gitignore
  Cargo.toml
  README.md
Due: none

fix: race condition in cluster slot migration
  crates/ferrite-ai/src/agent_memory/store.rs
  crates/ferrite-ai/src/rag/source_sync.rs
Due: extensions

chore(release): bump version to 0.4.0
  .github/workflows/publish.yml
  CHANGELOG.md
  Cargo.toml
Due: none

docs(phases): add moonshot phase roadmaps M1–M6 and gate criteria
  docs/ferrite-moonshot.toml
  docs/phases/README.md
  docs/phases/cw1-hiring.md
  docs/phases/cxl-availability-tracker.md
  docs/phases/m1-mnemo-roadmap.md
  docs/phases/m2-forge-roadmap.md
  docs/phases/m3-lucidity-roadmap.md
  docs/phases/m4-chronicle-roadmap.md
  docs/phases/m5-concord-roadmap.md
  docs/phases/m6-pangea-roadmap.md
  docs/phases/wave-1-gate.md
  docs/phases/wave-2-gate.md
Due: none

chore(workspace): add 7 moonshot crates to workspace manifest
  Cargo.toml
Due: none

feat(ferrite-forge): add WASM in-DB functions crate (M2)
  crates/ferrite-forge/Cargo.toml
  crates/ferrite-forge/README.md
  crates/ferrite-forge/src/budget.rs
  crates/ferrite-forge/src/engine.rs
  crates/ferrite-forge/src/exec.rs
  crates/ferrite-forge/src/host.rs
  crates/ferrite-forge/src/lib.rs
  crates/ferrite-forge/src/module.rs
  crates/ferrite-forge/src/rate_limiter.rs
  crates/ferrite-forge/src/registry.rs
  crates/ferrite-forge/src/signing.rs
  crates/ferrite-forge/src/telemetry.rs
Due: none

docs(adrs): add ADR-020 through ADR-023 (lucidity, chronicle, concord, pangea)
  docs/adrs/adr-020-lucidity-verifiable-audit.md
  docs/adrs/adr-021-chronicle-branchable-state.md
  docs/adrs/adr-022-concord-multi-master-crdts.md
  docs/adrs/adr-023-pangea-cxl-tier-0.md
Due: none

feat(ferrite-mnemo): add agent memory OS crate (M1)
  crates/ferrite-mnemo/Cargo.toml
  crates/ferrite-mnemo/README.md
  crates/ferrite-mnemo/src/keys.rs
  crates/ferrite-mnemo/src/lib.rs
  crates/ferrite-mnemo/src/quota.rs
  crates/ferrite-mnemo/src/schema.rs
  crates/ferrite-mnemo/src/scorer.rs
  crates/ferrite-mnemo/src/store.rs
  crates/ferrite-mnemo/src/summarizer.rs
  crates/ferrite-mnemo/src/telemetry.rs
Due: none

docs(adrs): add ADR-017 through ADR-019 (core split, mnemo, forge)
  docs/adrs/adr-017-ferrite-core-split.md
  docs/adrs/adr-018-mnemo-agent-memory-os.md
  docs/adrs/adr-019-forge-wasm-functions.md
Due: none

feat(ferrite-concord): add TLA+ formal specifications for CRDT correctness
  crates/ferrite-concord/tla/GCounter.tla
  crates/ferrite-concord/tla/OrSet.tla
Due: none

feat(ferrite-chronicle): add branchable state crate with HAMT (M4)
  crates/ferrite-chronicle/Cargo.toml
  crates/ferrite-chronicle/README.md
  crates/ferrite-chronicle/src/branched.rs
  crates/ferrite-chronicle/src/gc.rs
  crates/ferrite-chronicle/src/hamt.rs
  crates/ferrite-chronicle/src/lib.rs
  crates/ferrite-chronicle/src/registry.rs
Due: none

feat(ferrite-concord): add multi-master CRDT crate (M5)
  crates/ferrite-concord/Cargo.toml
  crates/ferrite-concord/README.md
  crates/ferrite-concord/src/antientropy.rs
  crates/ferrite-concord/src/chaos.rs
  crates/ferrite-concord/src/delta.rs
  crates/ferrite-concord/src/dvv.rs
  crates/ferrite-concord/src/g_counter.rs
  crates/ferrite-concord/src/gossip.rs
  crates/ferrite-concord/src/lib.rs
  crates/ferrite-concord/src/lww_register.rs
  crates/ferrite-concord/src/mv_register.rs
  crates/ferrite-concord/src/or_set.rs
  crates/ferrite-concord/src/pn_counter.rs
  crates/ferrite-concord/src/routing.rs
Due: none

feat(ferrite-lucidity): add verifiable audit log crate with ZK circuits (M3)
  crates/ferrite-lucidity/Cargo.toml
  crates/ferrite-lucidity/README.md
  crates/ferrite-lucidity/src/circuits/benchmark.rs
  crates/ferrite-lucidity/src/circuits/disclose.rs
  crates/ferrite-lucidity/src/circuits/mod.rs
  crates/ferrite-lucidity/src/ed25519.rs
  crates/ferrite-lucidity/src/key_rotation.rs
  crates/ferrite-lucidity/src/leaf.rs
  crates/ferrite-lucidity/src/lib.rs
  crates/ferrite-lucidity/src/log.rs
  crates/ferrite-lucidity/src/merkle.rs
  crates/ferrite-lucidity/src/pq.rs
  crates/ferrite-lucidity/src/signer.rs
  crates/ferrite-lucidity/src/tombstone.rs
  crates/ferrite-lucidity/src/witness.rs
Due: none

feat(ferrite-forge): add WIT interface definition and integration test scaffold
  crates/ferrite-forge/tests/integration_with_mnemo.rs
  crates/ferrite-forge/wit/ferrite.wit
Due: none

feat(executor): add CommandMeta entries for moonshot command families
  src/commands/executor/meta.rs
Due: integration

feat(commands/mnemo): implement MEM.* agent memory command handler
  src/commands/handlers/mnemo.rs
Due: integration

feat(commands/mod): expose moonshot handler modules and shared helpers
  src/commands/handlers/mod.rs
Due: integration

feat(executor): wire moonshot command routing in CommandExecutor
  src/commands/executor/mod.rs
Due: integration

feat(ferrite-pangea): add CXL tier-0 memory management crate (M6)
  crates/ferrite-pangea/Cargo.toml
  crates/ferrite-pangea/README.md
  crates/ferrite-pangea/src/allocator.rs
  crates/ferrite-pangea/src/benchmark.rs
  crates/ferrite-pangea/src/cache.rs
  crates/ferrite-pangea/src/feature.rs
  crates/ferrite-pangea/src/lib.rs
  crates/ferrite-pangea/src/policy.rs
  crates/ferrite-pangea/src/sizing.rs
  crates/ferrite-pangea/src/topology.rs
  crates/ferrite-pangea/src/working_set.rs
Due: none

feat(ferrite-spike-bridge): add cross-moonshot integration crate and tests
  crates/ferrite-spike-bridge/Cargo.toml
  crates/ferrite-spike-bridge/src/chronicle_audit.rs
  crates/ferrite-spike-bridge/src/lib.rs
  crates/ferrite-spike-bridge/src/mnemo_forge.rs
  crates/ferrite-spike-bridge/src/pangea_crdt.rs
  crates/ferrite-spike-bridge/tests/chronicle_lucidity.rs
  crates/ferrite-spike-bridge/tests/mnemo_forge.rs
  crates/ferrite-spike-bridge/tests/pangea_concord.rs
Due: none

feat(server): add replication support for mutating moonshot subcommands
  src/server/handler.rs
Due: integration

feat(commands/pangea): implement PNG.* memory tier command handler
  src/commands/handlers/pangea.rs
Due: integration

feat(commands): add moonshot configuration and rate-limit handlers
  src/commands/handlers/moonshot_config.rs
  src/commands/handlers/moonshot_limits.rs
Due: integration

feat(commands): add Chronicle and Lucidity handler stubs
  src/commands/handlers/chronicle.rs
  src/commands/handlers/lucidity.rs
Due: integration

feat(parser): add parser dispatch for moonshot command families
  src/commands/parser/mod.rs
Due: integration

feat(commands/forge): implement FN.* WASM function command handler
  src/commands/handlers/forge.rs
Due: integration

feat(commands/concord): implement CON.* CRDT command handler
  src/commands/handlers/concord.rs
Due: integration

feat(bin): add ferrite-fn binary for Forge WASM function runtime
  src/bin/ferrite_fn/main.rs
Due: integration

feat(examples): add agent-memory integration examples for LangGraph, LlamaIndex, Letta
  examples/README.md
  examples/agent-memory/README.md
  examples/agent-memory/langgraph_chatbot.py
  examples/agent-memory/letta_passthrough.py
  examples/agent-memory/llamaindex_rag.py
Due: none
