Repository FerriteLabs/ferrite: changes, and which Codecov flags are due for each by the changed paths.
All: core, extensions, integration

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 2%
      # Higher target for the core engine crate
      core:
        target: 60%
        threshold: 2%
        paths:
          - crates/ferrite-core/
    patch:
      default:
        target: 80%

flags:
  core:
    paths:
      - crates/ferrite-core/
    carryforward: true
  extensions:
    paths:
      - crates/ferrite-search/
      - crates/ferrite-ai/
      - crates/ferrite-graph/
      - crates/ferrite-timeseries/
      - crates/ferrite-document/
      - crates/ferrite-streaming/
    carryforward: true
  integration:
    paths:
      - src/
      - tests/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

docs(testers): require safe host prerequisites
  TESTER_PROGRAM.md
Due: none

fix(core): restore Linux I/O portability
  .cargo/config.toml
  crates/ferrite-core/Cargo.toml
  crates/ferrite-core/src/embedded/ffi.rs
  crates/ferrite-core/src/io/uring.rs
Due: core

fix(protocol): avoid tracking shard deadlock
  crates/ferrite-core/src/protocol/client_negotiation.rs
Due: core

fix(deps): align MSRV and security patches
  .cargo/audit.toml
  AUDIT.md
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Dockerfile.migrate
  FIRST_CONTRIBUTORS.md
  Makefile
  README.ja-JP.md
  README.ko-KR.md
  README.md
  README.zh-CN.md
  deny.toml
  docs/BENCHMARKS.md
  rust-toolchain.toml
  src/bin/ferrite_cli/main.rs
Due: integration

fix(ci): restore portable Rust quality gates
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/fuzz.yml
  .github/workflows/nightly.yml
Due: none

fix(deps): pin ONNX runtime prerelease
  Cargo.toml
Due: none

fix(docs): restore API documentation build
  .github/workflows/docs.yml
  AUDIT.md
  crates/ferrite-search/src/schema/mod.rs
Due: extensions

fix(ci): scope semver check to default features
  .github/workflows/ci.yml
Due: none

fix(ci): stabilize compatibility and audit jobs
  .github/workflows/redis-compat.yml
  deny.toml
  scripts/redis_compat_report.sh
Due: none

fix(ci): report unused dependencies without blocking
  .github/workflows/ci.yml
Due: none

fix(ci): make legacy semver baseline advisory
  .github/workflows/ci.yml
  AUDIT.md
Due: none

fix(ci): clear feature-specific Clippy warnings
  src/commands/executor/federation_ops.rs
  src/migration/cutover.rs
  src/replication/failover.rs
Due: integration

fix(wal): bound corrupted record lengths
  crates/ferrite-core/src/transaction/wal.rs
Due: core

fix(test): serialize Forge telemetry counters
  crates/ferrite-forge/src/telemetry.rs
Due: none

fix(fuzz): use current config parser entry point
  fuzz/fuzz_targets/fuzz_config_parser.rs
Due: none

fix(fuzz): compare RESP frames semantically
  fuzz/fuzz_targets/fuzz_resp_roundtrip.rs
Due: none

fix(config): keep example configuration runnable
  ferrite.example.toml
Due: none

fix(ci): bound all-feature and Windows test execution
  .github/workflows/ci.yml
Due: none

fix(ci): stabilize platform and benchmark gates
  .github/workflows/benchmarks.yml
Due: none

fix(ci): use stable benchmark sampling on PRs
  .github/workflows/benchmarks.yml
Due: none

fix(test): align timeseries buckets deterministically
  crates/ferrite-timeseries/src/timeseries/mod.rs
Due: extensions

fix(ci): store benchmark history in Actions cache
  .github/workflows/benchmarks.yml
Due: none

fix(parser): bound counted command arguments
  src/commands/parser/mod.rs
  src/commands/parser/parsers/advanced/crdt_wasm_parsers.rs
  src/commands/parser/parsers/advanced/search_parsers.rs
  src/commands/parser/parsers/lists.rs
  src/commands/parser/parsers/sets.rs
  src/commands/parser/parsers/sorted_sets.rs
Due: integration

fix(io): preserve aligned allocation layout
  crates/ferrite-core/src/io/buffer.rs
Due: core

fix(ci): normalize Criterion benchmark results
  .github/workflows/benchmarks.yml
  scripts/criterion_bencher_to_json.py
  scripts/test_criterion_bencher_to_json.py
Due: none

fix(io): preserve aligned buffer debug output
  crates/ferrite-core/src/io/buffer.rs
Due: core

fix(ci): run benchmarks for reporting changes
  .github/workflows/benchmarks.yml
Due: none

fix(io): open fallback files writable for sync
  crates/ferrite-core/src/io/fallback.rs
Due: core

fix(ci): use the repository Rust toolchain
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
Due: none

fix(wasm): include Wasmtime allocator sources
  vendor/wasmtime-27.0.0/proptest-regressions/runtime/vm/instance/allocator/pooling/memory_pool.txt
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/on_demand.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/decommit_queue.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/gc_heap_pool.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/generic_stack_pool.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/index_allocator.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/memory_pool.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/table_pool.rs
  vendor/wasmtime-27.0.0/src/runtime/vm/instance/allocator/pooling/unix_stack_pool.rs
Due: none

fix(ci): isolate all-feature lint and test gates
  .github/workflows/ci.yml
Due: none

fix(tests): constrain deterministic aggregate cases
  crates/ferrite-timeseries/src/timeseries/mod.rs
  tests/proptest_data_types.rs
Due: extensions, integration

fix(ci): shard all-feature workspace tests
  .github/workflows/ci.yml
Due: none

chore(release): align 0.5.0 package metadata
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/ferrite-forge/Cargo.toml
  crates/ferrite-spike-bridge/Cargo.toml
Due: none

feat(release): gate tag-bound crates.io publishing
  .github/publish-crates.txt
  .github/workflows/publish-preflight.yml
  .github/workflows/publish.yml
  .github/workflows/release-full.yml
  .github/workflows/release.yml
  release.toml
  scripts/atomic-commit.sh
  scripts/check_crates_io_ownership.py
  scripts/test_release.py
Due: none

fix(release): harden release verification
  .github/workflows/release.yml
  RELEASE_CHECKLIST.md
  scripts/check_release_metadata.py
  scripts/release.sh
  scripts/test_release.py
  scripts/verify-ship.sh
Due: none

fix(endpoints): retire unverified public endpoints
  CODE_OF_CONDUCT.md
  README.ja-JP.md
  README.ko-KR.md
  README.zh-CN.md
  SUPPORT.md
  crates/ferrite-plugins/src/marketplace/client.rs
  crates/ferrite-plugins/src/marketplace/mod.rs
  crates/ferrite-plugins/src/marketplace/registry.rs
  docs/adrs/README.md
  docs/adrs/adr-008-interactive-playground.md
  docs/templates/take-home-distributed.md
  docs/templates/take-home-rust.md
  examples/github-actions/README.md
  scripts/deploy-playground.sh
  scripts/test_release_links.py
  sdk/nodejs/package.json
  sdk/python/pyproject.toml
  sdk/typescript/package.json
  src/commands/executor/server_ops.rs
  src/commands/handlers/admin.rs
  src/main.rs
Due: integration

fix(ci): restore Node SDK verification
  CHANGELOG.md
  sdk/nodejs/package-lock.json
  sdk/nodejs/package.json
Due: none
