Repository FerriteLabs/ferrite: changes, and which Codecov flags are due for each by the changed paths.
All: core, extensions, integration

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 2%
      # Higher target for the core engine crate
      core:
        target: 60%
        threshold: 2%
        paths:
          - crates/ferrite-core/
    patch:
      default:
        target: 80%

flags:
  core:
    paths:
      - crates/ferrite-core/
    carryforward: true
  extensions:
    paths:
      - crates/ferrite-search/
      - crates/ferrite-ai/
      - crates/ferrite-graph/
      - crates/ferrite-timeseries/
      - crates/ferrite-document/
      - crates/ferrite-streaming/
    carryforward: true
  integration:
    paths:
      - src/
      - tests/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

test: enhance Redis compatibility and integration tests
  benches/vector_bench.rs
  examples/edge_sync.rs
  examples/embedded_basic.rs
  examples/embedded_edge_cache.rs
  examples/embedded_iot.rs
  examples/ferriteql_demo.rs
  examples/semantic_caching_demo.rs
  tests/ai_integration.rs
  tests/chaos_tests.rs
  tests/cluster_enhanced.rs
  tests/common/mod.rs
  tests/hybridlog_promotion.rs
  tests/hybridlog_stress.rs
  tests/integration_harness.rs
  tests/redis_compatibility.rs
  tests/replication_edge_cases.rs
  tests/streaming_integration.rs
Due: integration

refactor: simplify epoch advancement logic in reclamation
  crates/ferrite-core/src/storage/epoch.rs
Due: core

perf: reduce allocation in mutable region compaction path
  crates/ferrite-core/src/storage/memory.rs
Due: core

fix: handle edge case in RESP3 parser for nested arrays
  crates/ferrite-core/src/protocol/parser.rs
Due: core

feat(cloud): add delta-state CRDT sync protocol for edge runtime
  crates/ferrite-cloud/src/edge/sync_protocol.rs
Due: none

feat: add embedding pipeline, RAG chunking, and semantic SDK commands
  crates/ferrite-ai/src/embedding/mod.rs
  crates/ferrite-ai/src/embedding/pipeline.rs
  crates/ferrite-ai/src/lib.rs
  crates/ferrite-ai/src/rag/chunking.rs
  crates/ferrite-ai/src/rag/mod.rs
  crates/ferrite-ai/src/semantic/cache.rs
  crates/ferrite-ai/src/semantic/function_cache.rs
  crates/ferrite-ai/src/semantic/ga_cache.rs
  crates/ferrite-ai/src/semantic/hnsw.rs
  crates/ferrite-ai/src/semantic/llm_cache.rs
  crates/ferrite-ai/src/semantic/semantic_cache.rs
  crates/ferrite-ai/src/semantic/streaming.rs
  sdk/ferrite-rs/src/commands/semantic.rs
  sdk/ferrite-rs/src/commands/vector.rs
  src/commands/handlers/rag.rs
Due: extensions, integration

feat: implement delta sync for edge replication
  CHANGELOG.md
Due: none

refactor: reorganize storage tier module hierarchy
  CONTRIBUTING.md
Due: none

perf: optimize query parser token lookahead
  deny.toml
Due: none

fix: resolve compatibility tracker initialization race
  codecov.yml
Due: none

feat: add unified observer tracing for storage ops
  COMMUNITY.md
Due: none

feat: implement Redis TCL test suite compatibility commands
  src/commands/acl_commands.rs
  src/commands/client_commands.rs
  src/commands/executor/advanced_ops.rs
  src/commands/executor/meta.rs
  src/commands/executor/mod.rs
  src/commands/executor/server_ops.rs
  src/commands/geo.rs
  src/commands/latency.rs
  src/commands/mod.rs
  src/commands/object_commands.rs
  src/commands/parser/mod.rs
  src/commands/parser/parsers/geo.rs
Due: integration

refactor: clean up unused imports in storage module
  crates/ferrite-core/src/storage/mod.rs
Due: core

refactor: simplify epoch-based reclamation in storage engine
  crates/ferrite-core/src/storage/memory.rs
  crates/ferrite-core/src/storage/version_store.rs
  crates/ferrite-core/src/temporal/mod.rs
  crates/ferrite-core/src/temporal/versioning.rs
  crates/ferrite-core/src/tiering/auto_tier.rs
  crates/ferrite-core/src/tiering/cloud_tier.rs
  crates/ferrite-core/src/tiering/ml_engine.rs
  crates/ferrite-core/src/tiering/mod.rs
  crates/ferrite-core/src/tiering/savings_calculator.rs
Due: core

fix: resolve race condition in cluster node discovery
  crates/ferrite-core/src/auth/mod.rs
  crates/ferrite-core/src/auth/policy_engine.rs
  crates/ferrite-core/src/cluster/consensus_api.rs
  crates/ferrite-core/src/cluster/distributed_lock.rs
  crates/ferrite-core/src/cluster/mod.rs
  crates/ferrite-core/src/cluster/wire_compat.rs
  crates/ferrite-core/src/compatibility/compat_tracker.rs
  crates/ferrite-core/src/embedded/edge_db.rs
  crates/ferrite-core/src/embedded/mod.rs
Due: core

feat: add configurable compaction threshold for tiered storage
  crates/ferrite-core/src/audit/classifier.rs
  crates/ferrite-core/src/audit/compliance.rs
  crates/ferrite-core/src/audit/contracts.rs
  crates/ferrite-core/src/audit/lineage.rs
  crates/ferrite-core/src/audit/mod.rs
  crates/ferrite-core/src/gateway/auth_middleware.rs
  crates/ferrite-core/src/gateway/graphql_engine.rs
  crates/ferrite-core/src/gateway/rest_router.rs
  crates/ferrite-core/src/observability/chaos.rs
  crates/ferrite-core/src/observability/key_heatmap.rs
  crates/ferrite-core/src/observability/mod.rs
  crates/ferrite-core/src/observability/query_profiler.rs
  crates/ferrite-core/src/observability/unified_observer.rs
  crates/ferrite-core/src/optimizer/adaptive.rs
  crates/ferrite-core/src/optimizer/mod.rs
  crates/ferrite-core/src/query/analytics.rs
  crates/ferrite-core/src/query/change_tracker.rs
  crates/ferrite-core/src/query/federation.rs
  crates/ferrite-core/src/query/mod.rs
  crates/ferrite-core/src/query/schema_codegen.rs
  crates/ferrite-core/src/query/sdk_pipeline.rs
  crates/ferrite-core/src/triggers/wasm_executor.rs
  crates/ferrite-core/src/views/materialized.rs
  crates/ferrite-core/src/views/mod.rs
Due: core

ci: fix gitleaks license and clippy missing_docs failures
  .github/workflows/ci.yml
Due: none

chore: bump workspace version to 0.3.0-dev
  Cargo.toml
Due: none

ci: add conditional publish steps to SDK workflows
  .github/workflows/sdk-nodejs.yml
  .github/workflows/sdk-rust.yml
Due: none

fix: improve error messages with subcommand suggestions and complete SDK integration test harness
  sdk/integration-tests/README.md
  sdk/integration-tests/run-all.sh
  src/commands/executor/advanced_ops.rs
Due: integration

ci: add nightly workflow and update release pipeline
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  ADOPTERS.md
  CHANGELOG.md
  COMMUNITY.md
  CONTRIBUTING.md
  Makefile
  README.md
  ROADMAP.md
  SECURITY.md
  docs/FEATURE_MATURITY.md
  docs/REDIS_COMPAT.md
  docs/REDIS_COMPATIBILITY.md
  scripts/redis-compat-report.sh
  scripts/redis_compat_report.sh
Due: none

feat: improve vector search distance metrics and add chaos tests
  Cargo.lock
  crates/ferrite-ai/src/agent_memory/mod.rs
  crates/ferrite-ai/src/conversation/mod.rs
  crates/ferrite-ai/src/graphrag/mod.rs
  crates/ferrite-ai/src/inference/mod.rs
  crates/ferrite-ai/src/rag/mod.rs
  crates/ferrite-ai/src/semantic/mod.rs
  crates/ferrite-ai/src/vector/distance.rs
  crates/ferrite-ai/src/vector/flat.rs
  crates/ferrite-ai/src/vector/ivf.rs
  crates/ferrite-ai/src/vector/mod.rs
  crates/ferrite-ai/src/vector/store.rs
  tests/chaos_tests.rs
Due: extensions, integration

docs: add development guide, command handler reference, and test infrastructure
  DEVELOPMENT.md
  docs/COMMAND_HANDLERS.md
  docs/feature-maturity.toml
  examples/wasm_udf/README.md
  scripts/generate-feature-maturity.sh
  sdk/integration-tests/docker-compose.yml
  tests/jepsen/docker-compose.jepsen.yml
Due: integration

feat: extend configuration validation and SDK pipeline enhancements
  .github/workflows/benchmark.yml
  .github/workflows/chaos-tests.yml
  crates/ferrite-core/src/config.rs
  crates/ferrite-core/src/query/sdk_pipeline.rs
  crates/ferrite-core/src/runtime/keyspace_notify.rs
  crates/ferrite-core/src/runtime/mod.rs
  crates/ferrite-core/src/runtime/tracking.rs
  crates/ferrite-core/src/storage/memory.rs
  src/commands/executor/advanced_ops.rs
  src/commands/executor/meta.rs
  src/commands/executor/mod.rs
  src/commands/executor/server_ops.rs
  src/commands/parser/mod.rs
Due: core, integration

refactor: optimize memory storage allocation strategy
  crates/ferrite-core/src/storage/memory.rs
Due: core

feat: expand server ops command coverage
  src/commands/parser/mod.rs
Due: integration

test: add edge case tests for advanced operations
  src/commands/executor/advanced_ops.rs
Due: integration

feat: add server rate limiter and backpressure modules
  src/server/backpressure.rs
  src/server/connection_pool.rs
  src/server/handler.rs
  src/server/listener.rs
  src/server/mod.rs
  src/server/rate_limiter.rs
Due: integration

refactor: improve cloud and enterprise module APIs
  crates/ferrite-cloud/src/cloud/api_gateway.rs
  crates/ferrite-cloud/src/cloud/control_plane.rs
  crates/ferrite-cloud/src/cloud/deploy_sdk.rs
  crates/ferrite-cloud/src/cloud/mod.rs
  crates/ferrite-cloud/src/edge/mesh.rs
  crates/ferrite-cloud/src/lib.rs
  crates/ferrite-cloud/src/managed/billing.rs
  crates/ferrite-cloud/src/managed/predictive.rs
  crates/ferrite-cloud/src/managed/provisioner.rs
  crates/ferrite-cloud/src/managed/scaling.rs
  crates/ferrite-cloud/src/multicloud/active_active.rs
  crates/ferrite-cloud/src/s3/bucket.rs
  crates/ferrite-cloud/src/s3/mod.rs
  crates/ferrite-enterprise/src/active_active/conflict.rs
  crates/ferrite-enterprise/src/active_active/mod.rs
  crates/ferrite-enterprise/src/active_active/region.rs
  crates/ferrite-enterprise/src/active_active/replicator.rs
  crates/ferrite-enterprise/src/active_active/vector_clock.rs
  crates/ferrite-enterprise/src/federation/mod.rs
  crates/ferrite-enterprise/src/federation/planner.rs
  crates/ferrite-enterprise/src/lib.rs
  crates/ferrite-enterprise/src/mesh/contract.rs
  crates/ferrite-enterprise/src/mesh/datasource.rs
  crates/ferrite-enterprise/src/mesh/gateway.rs
  crates/ferrite-enterprise/src/mesh/mod.rs
  crates/ferrite-enterprise/src/mesh/query_router.rs
  crates/ferrite-enterprise/src/proxy/mod.rs
  crates/ferrite-enterprise/src/proxy/router.rs
  crates/ferrite-enterprise/src/tenancy/backup.rs
  crates/ferrite-enterprise/src/tenancy/lifecycle.rs
  crates/ferrite-enterprise/src/tenancy/namespace.rs
  crates/ferrite-enterprise/src/tenancy/quota_resource.rs
  crates/ferrite-k8s/src/k8s/controller.rs
  crates/ferrite-k8s/src/k8s/metrics.rs
  crates/ferrite-k8s/src/k8s/mod.rs
  crates/ferrite-k8s/src/k8s/operator.rs
  crates/ferrite-k8s/src/k8s/predictive_scaling.rs
  crates/ferrite-k8s/src/k8s/reconciler.rs
  crates/ferrite-k8s/src/k8s/resources.rs
  crates/ferrite-k8s/src/lib.rs
Due: none

feat: add latency tracking to runtime module
  crates/ferrite-core/src/persistence/rdb.rs
  crates/ferrite-core/src/runtime/clients.rs
  crates/ferrite-core/src/runtime/latency.rs
  crates/ferrite-core/src/runtime/mod.rs
  crates/ferrite-core/src/storage/memory.rs
  src/commands/executor/meta.rs
  src/commands/executor/mod.rs
  src/commands/executor/server_ops.rs
  src/commands/executor/tests.rs
  src/commands/handlers/agent.rs
  src/commands/handlers/document.rs
  src/commands/handlers/graph.rs
  src/commands/handlers/inference.rs
  src/commands/handlers/mod.rs
  src/commands/handlers/rag.rs
  src/commands/handlers/semantic.rs
  src/commands/handlers/timeseries.rs
  src/commands/handlers/vector.rs
  src/commands/handlers/wasm.rs
  src/commands/hashes.rs
  src/commands/keys.rs
  src/commands/lists.rs
  src/commands/parser/mod.rs
  src/commands/parser/parsers/keys.rs
  src/commands/parser/parsers/server.rs
  src/commands/parser/parsers/sorted_sets.rs
  src/commands/sorted_sets.rs
  src/server/backpressure.rs
  src/server/connection.rs
  src/server/handler.rs
  src/server/listener.rs
Due: core, integration
