Repository FerriteLabs/ferrite: changes, and which Codecov flags are due for each by the changed paths.
All: core, extensions, integration

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 2%
      # Higher target for the core engine crate
      core:
        target: 60%
        threshold: 2%
        paths:
          - crates/ferrite-core/
    patch:
      default:
        target: 80%

flags:
  core:
    paths:
      - crates/ferrite-core/
    carryforward: true
  extensions:
    paths:
      - crates/ferrite-search/
      - crates/ferrite-ai/
      - crates/ferrite-graph/
      - crates/ferrite-timeseries/
      - crates/ferrite-document/
      - crates/ferrite-streaming/
    carryforward: true
  integration:
    paths:
      - src/
      - tests/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

feat(sdk/mnemo): add Python Mnemo SDK with LangChain, LlamaIndex, and Letta bindings
  sdk/python/ferrite_mnemo/__init__.py
  sdk/python/ferrite_mnemo/client.py
  sdk/python/ferrite_mnemo/langgraph.py
  sdk/python/ferrite_mnemo/letta.py
  sdk/python/ferrite_mnemo/llamaindex.py
Due: none

feat(examples): add Forge function examples (jwt_verify, rate_limit, json_patch, hot_keys)
  examples/forge/README.md
  examples/forge/custom_merge/Cargo.toml
  examples/forge/custom_merge/README.md
  examples/forge/custom_merge/src/lib.rs
  examples/forge/hot_keys/Cargo.toml
  examples/forge/hot_keys/README.md
  examples/forge/hot_keys/src/lib.rs
  examples/forge/json_patch/Cargo.toml
  examples/forge/json_patch/README.md
  examples/forge/json_patch/src/lib.rs
  examples/forge/jwt_verify/Cargo.toml
  examples/forge/jwt_verify/README.md
  examples/forge/jwt_verify/src/lib.rs
  examples/forge/rate_limit/Cargo.toml
  examples/forge/rate_limit/README.md
  examples/forge/rate_limit/src/lib.rs
Due: none

fix(server/wasm): update WASM handler to use shared bulk helper
  src/commands/handlers/wasm.rs
Due: integration

docs: add design partner program documentation and hiring templates
  docs/DESIGN_PARTNER_PROGRAM.md
  docs/FEATURES.md
  docs/templates/design-partner-loi.md
  docs/templates/design-partner-monthly-report.md
  docs/templates/take-home-distributed.md
  docs/templates/take-home-rust.md
Due: none

feat(sdk/mnemo): add Node.js Mnemo client SDK with LangChain adapter
  sdk/node/ferrite-mnemo/README.md
  sdk/node/ferrite-mnemo/package-lock.json
  sdk/node/ferrite-mnemo/package.json
  sdk/node/ferrite-mnemo/src/index.ts
  sdk/node/ferrite-mnemo/src/langchain.ts
  sdk/node/ferrite-mnemo/tsconfig.json
  sdk/nodejs/package-lock.json
Due: none

test: add moonshot integration test harness and cross-crate smoke tests
  tests/harness/assertions.rs
  tests/harness/mod.rs
  tests/moonshot_integration.rs
Due: integration

feat(sdk/forge): add multi-language Forge function starter templates
  sdk/forge-templates/README.md
  sdk/forge-templates/go/README.md
  sdk/forge-templates/go/go.mod
  sdk/forge-templates/go/main.go
  sdk/forge-templates/rust/Cargo.toml.template
  sdk/forge-templates/rust/README.md
  sdk/forge-templates/rust/src/lib.rs
  sdk/forge-templates/ts/README.md
  sdk/forge-templates/ts/index.ts
  sdk/forge-templates/ts/package.json
Due: none

docs: add CXL cloud provider integration guides and AI Act compliance mapping
  docs/cloud/README.md
  docs/cloud/cxl-aws.md
  docs/cloud/cxl-azure.md
  docs/cloud/cxl-gcp.md
  docs/compliance/ai-act-mapping.md
Due: none

chore(deps): update Cargo.lock with moonshot crate dependency graph
  Cargo.lock
Due: none

docs: add observability guide, replication policy, and moonshot docs pipeline spec
  docs/MOONSHOT_DOCS_PIPELINE.md
  docs/OBSERVABILITY.md
  docs/REPLICATION_POLICY.md
Due: none

ci: add moonshot CI workflow and docs gate action
  .github/workflows/docs-gate.yml
  .github/workflows/moonshot-ci.yml
Due: none

docs(readme): update for v0.4.0 — moonshot crates, 19-crate architecture, install script
  .github/workflows/publish-mnemo-node.yml
  .github/workflows/publish-mnemo-python.yml
  README.md
Due: none

docs: sync crate count and Rust version requirements across docs
  CLAUDE.md
  CONTRIBUTING.md
  FIRST_CONTRIBUTORS.md
  docs/TROUBLESHOOTING.md
Due: none

chore: update Cargo.lock for v0.4.0 and improve example config comments
  Cargo.lock
  ferrite.example.toml
Due: none

fix(test): restore full verification baseline (BASE-001)
  src/commands/handlers/lucidity.rs
  src/commands/handlers/wasm.rs
  src/wasm/registry.rs
  src/wasm/runtime.rs
  tests/jepsen/runner.rs
  tests/jepsen_linearizability.rs
Due: integration

fix(test): stabilize workspace verification (BASE-002)
  crates/ferrite-core/src/embedded/lite.rs
  crates/ferrite-core/src/embedded/mod.rs
  crates/ferrite-core/src/embedded/wasm_adapter.rs
  crates/ferrite-core/src/optimizer/profiler.rs
  crates/ferrite-core/src/query/mod.rs
  crates/ferrite-core/src/storage/memory.rs
  crates/ferrite-core/src/temporal/mod.rs
  crates/ferrite-core/src/triggers/mod.rs
  crates/ferrite-core/src/triggers/runtime.rs
  tests/redis_compatibility.rs
  tests/search_integration.rs
  tests/streaming_integration.rs
Due: core, integration

test(plugins): isolate marketplace filesystem state (BASE-003)
  crates/ferrite-plugins/src/marketplace/mod.rs
Due: none

docs(audit): record SRP refactor plan (BASE/SRP)
  AUDIT.md
Due: none

refactor(executor): split advanced_ops into command-family modules (SRP-01)
  src/commands/executor/advanced_ops.rs
  src/commands/executor/cdc_ops.rs
  src/commands/executor/crdt_ops.rs
  src/commands/executor/federation_ops.rs
  src/commands/executor/geo_ops.rs
  src/commands/executor/mod.rs
  src/commands/executor/search_ops.rs
  src/commands/executor/stream_ops.rs
  src/commands/executor/temporal_ops.rs
  src/commands/executor/tiering_ops.rs
  src/commands/executor/trigger_ops_extracted.rs
Due: integration

refactor(blocking): split into blocking/{list,stream,sorted_set} modules (SRP-02)
  src/commands/blocking/list.rs
  src/commands/blocking/mod.rs
  src/commands/blocking/sorted_set.rs
  src/commands/blocking/stream.rs
Due: integration

refactor(backup): extract codec module for backup serialization (SRP-03)
  crates/ferrite-core/src/persistence/backup/codec.rs
  crates/ferrite-core/src/persistence/backup/manager.rs
  crates/ferrite-core/src/persistence/backup/mod.rs
Due: core

refactor(parser): extract command-family parsers into private modules (SRP-04)
  src/commands/parser/parsers/advanced.rs
  src/commands/parser/parsers/advanced/crdt_wasm_parsers.rs
  src/commands/parser/parsers/advanced/federation_parsers.rs
  src/commands/parser/parsers/advanced/mod.rs
  src/commands/parser/parsers/advanced/search_parsers.rs
  src/commands/parser/parsers/advanced/streaming_parsers.rs
  src/commands/parser/parsers/advanced/trigger_parsers.rs
  src/commands/parser/parsers/cluster/mod.rs
  src/commands/parser/parsers/cluster/temporal_parsers.rs
Due: integration

refactor(config): delegate set_param to leaf config owners (SRP-05)
  crates/ferrite-core/src/config.rs
Due: core

refactor(observability): extract AlertManager and ProbeRegistry (SRP-06)
  crates/ferrite-core/src/observability/unified_observer.rs
Due: core

docs(audit): update AUDIT.md with SRP-01 through SRP-06 completion status
  AUDIT.md
Due: none

refactor(backup): add private codec actor (SRP-03)
  AUDIT.md
  crates/ferrite-core/src/persistence/backup/codec.rs
  crates/ferrite-core/src/persistence/backup/manager.rs
Due: core

docs(audit): record SRP-03 codec completion
  AUDIT.md
Due: none

fix(observability): compile SRP-06 characterization tests
  crates/ferrite-core/src/observability/mod.rs
  crates/ferrite-core/src/observability/unified_observer.rs
Due: core

docs(audit): record SRP-06 verification fix
  AUDIT.md
Due: none

test(config): characterize set_param contracts (SRP-05)
  crates/ferrite-core/src/config.rs
Due: core

docs(audit): record SRP-05 characterization coverage
  AUDIT.md
Due: none

fix(clippy): support pinned Rust toolchain checks
  crates/ferrite-concord/src/routing.rs
  crates/ferrite-mnemo/src/scorer.rs
Due: none

feat(testers): add canonical v0.4 program
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/tester_interest.yml
  .github/ISSUE_TEMPLATE/tester_report.yml
  .github/workflows/docs-gate.yml
  ADOPTERS.md
  COMMUNITY.md
  Makefile
  README.md
  TESTER_PROGRAM.md
  scripts/check-tester-assets.sh
Due: none

feat(testers): make external tester program launch-gated and version-neutral
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/tester_interest.yml
  .github/ISSUE_TEMPLATE/tester_report.yml
  ADOPTERS.md
  COMMUNITY.md
  SECURITY.md
  TESTER_PROGRAM.md
  scripts/check-tester-assets.sh
Due: none

fix(testers): remove disabled campaign channels
  COMMUNITY.md
  CONTRIBUTING.md
  FIRST_CONTRIBUTORS.md
  SECURITY.md
  SUPPORT.md
  TESTER_PROGRAM.md
  docs/TROUBLESHOOTING.md
  scripts/check-tester-assets.sh
Due: none

fix(testers): make private vulnerability reporting canonical and Docker-only cohort
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/tester_interest.yml
  .github/ISSUE_TEMPLATE/tester_report.yml
  COMMUNITY.md
  CONTRIBUTING.md
  SECURITY.md
  TESTER_PROGRAM.md
  scripts/check-tester-assets.sh
Due: none

fix(testers): make FERRITE_TEST_IMAGE digest-only, full-reference
  .github/ISSUE_TEMPLATE/tester_interest.yml
  .github/ISSUE_TEMPLATE/tester_report.yml
  TESTER_PROGRAM.md
  scripts/check-tester-assets.sh
Due: none

fix(testers): require an exact ops commit and restore Discussions
  .github/ISSUE_TEMPLATE/tester_report.yml
  COMMUNITY.md
  TESTER_PROGRAM.md
  scripts/check-tester-assets.sh
Due: none

fix(testers): restore Discussions and harden SHA checks
  .github/ISSUE_TEMPLATE/config.yml
  scripts/check-tester-assets.sh
Due: none

docs(community): restore Discussions guidance
  CONTRIBUTING.md
  FIRST_CONTRIBUTORS.md
  SUPPORT.md
  docs/TROUBLESHOOTING.md
Due: none
